
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    width: 339px;
}


.calculator-display {
    background-color: #222;
    color: #fff;
    text-align: right;
    padding: 15px;
    font-size: 2rem;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}


.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.btn {
    background-color: #444;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #555;
}

.operator {
    background-color: #f39c12;
}

.operator:hover {
    background-color: #e67e22;
}

.equal {
    background-color: #2ecc71;
    grid-column: span 2;
}

.equal:hover {
    background-color: #27ae60;
}
